body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6cdcd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 80%;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    border: 2px solid #ff4d4d;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff4d4d;
    font-family: 'Roboto', sans-serif;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ff4d4d;
}
input[type="text"],input[type="number"], input[type="date"], input[type="tel"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
.buttons {
    display: flex;
    justify-content: center;
}
.buttons button {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}
.buttons button:hover {
    background-color: #cc0000;
}